{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="apple-touch-icon" sizes="180x180" href="/linux-tips/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/linux-tips/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/linux-tips/assets/images/favicon-16x16.png">
<link rel="manifest" href="/linux-tips/assets/images/site.webmanifest">
<link rel="mask-icon" href="/linux-tips/assets/images/safari-pinned-tab.svg" color="#000000">
<link rel="shortcut icon" href="/linux-tips/assets/images/favicon.ico">
<meta name="msapplication-TileColor" content="#373633">
<meta name="msapplication-config" content="/linux-tips/assets/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

{% comment %}
  RPA: Specify google font code.
{% endcomment %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">


